/.vscode
/.vscode-janus-debug
/dad's blog
/hod-cse.jpg
/index.html
/Lecture-15
/Lecture-16
/Lecture-17
/Lecture-18
/Lecture-19
/Ma'am and Sir.jpg
/Ma'am.jpg
/me and ma'am.jpg
/Project-1
/Sign-Language -Translator
/style.css